Repository prototypefund/DeKUF: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-client, test-server

test-client:
  stage: test
  image: gcc
  before_script:
  - 'apt-get update -yqq && apt-get install -yqq cmake clang qt6-base-dev clang-tidy clang-format
  
    '
  - update-alternatives --set c++ /usr/bin/clang++
  - cd client
  script:
  - make
  - make lint
  - make test

test-server:
  stage: test
  image: python:3.10
  before_script:
  - pip install --upgrade pip
  - export POETRY_HOME=/opt/poetry
  - python3 -m venv $POETRY_HOME
  - $POETRY_HOME/bin/pip install poetry==1.2.0
  - $POETRY_HOME/bin/poetry --version
  - cd server
  - $POETRY_HOME/bin/poetry install
  ...

Add idea to client gitignore
  client/.gitignore
Due: test-client

Add gpgme to install
  .gitlab-ci.yml
Due: test-client, test-server

Use correct package name for gpgme
  .gitlab-ci.yml
Due: test-client, test-server

Exclude migrations folder for black
  server/pyproject.toml
Due: test-server

#45 Add the first part of the end-to-end encryption on client and server
  client/src/core/sqlite_storage.cpp
  client/src/core/sqlite_storage.hpp
  client/src/core/storage.hpp
  client/src/core/survey_record.hpp
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/src/daemon/main.cpp
  client/src/daemon/network.hpp
  client/src/daemon/server_network.cpp
  client/src/daemon/server_network.hpp
  client/tests/core/sqlite_storage_test.cpp
  client/tests/daemon/daemon_test.cpp
  client/tests/stubs/core/storage_stub.hpp
  client/tests/stubs/daemon/network_stub.hpp
  server/core/admin.py
  server/core/migrations/0009_surveysignup_public_key.py
  server/core/models/survey_signup.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/tests/test_messaging_to_delegate.py
  server/core/views.py
  server/dekufserver/urls.py
Due: test-client, test-server

#45 Add cmake debug to gitignore
  client/.gitignore
Due: test-client

#45 Add messaging to delegate
  client/src/core/sqlite_storage.cpp
  client/src/core/survey_record.hpp
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/src/daemon/network.hpp
  client/src/daemon/server_network.cpp
  client/src/daemon/server_network.hpp
  client/tests/daemon/daemon_test.cpp
  client/tests/stubs/core/storage_stub.hpp
  client/tests/stubs/daemon/network_stub.hpp
  server/core/admin.py
  server/core/migrations/0010_rename_delegate_clienttodelegatemessage_delegate_id_and_more.py
  server/core/models/client_to_delegate_message.py
  server/core/tests/test_messaging_to_delegate.py
  server/core/views.py
  server/dekufserver/urls.py
Due: test-client, test-server

#45 Clean up some logs
  client/src/core/survey_record.hpp
  client/src/daemon/daemon.cpp
Due: test-client

#45 Add aggregation logic to surveyresponse
  client/src/core/survey_response.cpp
  client/src/core/survey_response.hpp
  client/tests/core/survey_response_test.cpp
  client/tests/core/survey_response_test.hpp
Due: test-client

#45 Add posting to server for case groupsize 1
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/src/daemon/network.hpp
  client/src/daemon/server_network.cpp
  client/src/daemon/server_network.hpp
  client/tests/stubs/daemon/network_stub.hpp
Due: test-client

Add posting to server
  client/src/core/survey_response.cpp
  client/src/core/survey_response.hpp
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/tests/daemon/daemon_test.cpp
Due: test-client

Client only signs up when dataPoint is actually present
  client/src/core/sqlite_storage.cpp
  client/src/core/sqlite_storage.hpp
  client/src/core/storage.hpp
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/tests/daemon/daemon_test.cpp
  client/tests/daemon/daemon_test.hpp
  client/tests/stubs/core/storage_stub.hpp
Due: test-client

Add Result Type and Test
  client/src/core/result.hpp
  client/tests/core/result_test.cpp
  client/tests/core/result_test.hpp
Due: test-client

Change Aggregation return to Result type
  client/src/core/result.hpp
  client/src/core/sqlite_storage.cpp
  client/src/core/storage.hpp
  client/src/core/survey_response.cpp
  client/src/core/survey_response.hpp
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/tests/core/result_test.cpp
  client/tests/core/survey_response_test.cpp
  client/tests/core/survey_response_test.hpp
Due: test-client

Fix test by adding necessary query
  client/tests/daemon/daemon_test.cpp
Due: test-client

Remove debug logs in function
  client/src/core/survey_response.cpp
Due: test-client

Use Result Type in Json parsing of surveyResponse
  client/src/core/sqlite_storage.cpp
  client/src/core/survey_response.cpp
  client/src/core/survey_response.hpp
  client/src/daemon/daemon.cpp
  client/tests/core/survey_response_test.cpp
Due: test-client

Use Result Type in Json parsing of survey
  client/src/core/sqlite_storage.cpp
  client/src/core/survey.cpp
  client/src/core/survey.hpp
  client/src/daemon/daemon.cpp
  client/tests/core/survey_test.cpp
Due: test-client

Change gitignore to actually ignore the cmake debug stuff
  client/.gitignore
Due: test-client

Refactor process messages for delegate to use Result type
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
Due: test-client

Add paillier encryption to server side
  server/core/models/aggregation_group.py
  server/core/models/survey.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/tests/test_grouping_logic.py
  server/core/tests/test_messaging_to_delegate.py
  server/core/tests/test_query_response_aggregation.py
  server/core/views.py
  server/mypy.ini
  server/pyproject.toml
Due: test-server

Add migration
  server/core/migrations/0011_aggregationgroup_aggregation_private_key_p_and_more.py
Due: test-server

Fix testProcessSignupsHandlesDelegateCase
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/src/daemon/network.hpp
  client/src/daemon/server_network.cpp
  client/src/daemon/server_network.hpp
  client/tests/daemon/daemon_test.cpp
  client/tests/stubs/core/storage_stub.hpp
  client/tests/stubs/daemon/network_stub.hpp
Due: test-client

Fix APi call from server for paillier n
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/views.py
Due: test-server

#49 Refactor Urls to core
  server/core/urls.py
  server/core/views/__init__.py
  server/core/views/survey_views.py
  server/core/views/user_views.py
  server/dekufserver/urls.py
Due: test-server

Remove obsolete TODO
  client/src/daemon/server_network.hpp
Due: test-client

Remove commented out default destructor
  client/src/daemon/server_network.hpp
Due: test-client

Remove the remaining asynchronous logic
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/src/daemon/network.hpp
  client/src/daemon/server_network.cpp
  client/src/daemon/server_network.hpp
  client/tests/daemon/daemon_test.cpp
  client/tests/stubs/daemon/network_stub.hpp
Due: test-client

Eliminate unused async get/post request methods
  client/src/daemon/server_network.cpp
  client/src/daemon/server_network.hpp
Due: test-client

Add paillier encryption
  client/CMakeLists.txt
  client/README.md
  client/cmake/FindGMP.cmake
  client/src/core/CMakeLists.txt
  client/src/core/sqlite_storage.cpp
  client/src/core/sqlite_storage.hpp
  client/src/core/storage.hpp
  client/src/core/survey_record.hpp
  client/src/daemon/CMakeLists.txt
  client/src/daemon/daemon.cpp
  client/src/daemon/paillier_encryptor.cpp
  client/src/daemon/paillier_encryptor.hpp
  client/tests/core/sqlite_storage_test.cpp
  client/tests/daemon/daemon_test.cpp
  client/tests/daemon/paillier_encryptor_test.cpp
  client/tests/daemon/paillier_encryptor_test.hpp
  client/tests/stubs/core/storage_stub.hpp
Due: test-client

Fix warning and format
  client/src/core/sqlite_storage.cpp
  client/src/core/storage.hpp
  client/src/daemon/paillier_encryptor.cpp
  client/src/daemon/paillier_encryptor.hpp
Due: test-client

Path conditions:
  test-client: any of: .gitlab-ci.yml, client/**/*
  test-server: any of: .gitlab-ci.yml, server/**/*
