Repository prototypefund/DeKUF: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-client, test-server

test-client:
  stage: test
  image: gcc
  before_script:
  - 'apt-get update -yqq && apt-get install -yqq cmake clang qt6-base-dev clang-tidy clang-format
  
    '
  - update-alternatives --set c++ /usr/bin/clang++
  - cd client
  script:
  - make
  - make lint
  - make test

test-server:
  stage: test
  image: python:3.10
  before_script:
  - pip install --upgrade pip
  - export POETRY_HOME=/opt/poetry
  - python3 -m venv $POETRY_HOME
  - $POETRY_HOME/bin/pip install poetry==1.2.0
  - $POETRY_HOME/bin/poetry --version
  - cd server
  - $POETRY_HOME/bin/poetry install
  ...

Small little Reformatting
  server/core/views.py
  server/dekufserver/urls.py
Due: test-server

Fix flake8 in combination with black just going at each other
  server/lint.py
  server/pyproject.toml
Due: test-server

I meant to do this to fix the linting process
  server/.flake8
Due: test-server

And revert the pyproject.toml to what it was like before
  server/pyproject.toml
Due: test-server

Add grouping logic and test it
  server/core/migrations/0003_surveysignup.py
  server/core/migrations/0004_aggregationgroup_surveysignup_group.py
  server/core/models/aggregation_group.py
  server/core/models/grouping_logic.py
  server/core/tests/test_grouping_logic.py
  server/core/views.py
Due: test-server

Update poetry to 1.8.2
  .gitlab-ci.yml
Due: test-client, test-server

Rename and format
  server/core/models/grouping_logic.py
  server/core/tests/test_grouping_logic.py
Due: test-server

Fix typing issues
  server/core/tests/test_grouping_logic.py
  server/core/views.py
Due: test-server

Try to get types right in tests
  server/core/tests/test_grouping_logic.py
Due: test-server

Fix typing by being very accurate in tests
  server/core/tests/test_grouping_logic.py
Due: test-server

Final typing
  server/core/tests/test_grouping_logic.py
Due: test-server

Add tests for survey_signup post endpoint
  server/core/tests/test_federated_aggregation_endpoints.py
Due: test-server

Fix test typing and formatting
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/tests/test_grouping_logic.py
Due: test-server

Add endpoint for clients to get signup_state
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/views.py
  server/dekufserver/urls.py
Due: test-server

These different formatters make me go mad
  server/core/views.py
Due: test-server

Add client to delegate messages and endpoint
  server/core/migrations/0005_clienttodelegatemessage.py
  server/core/models/client_to_delegate_message.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/tests/test_messaging_to_delegate.py
  server/core/views.py
  server/dekufserver/urls.py
Due: test-server

Fix typing issue where it can't find objects by itself
  server/core/models/client_to_delegate_message.py
  server/core/tests/test_messaging_to_delegate.py
  server/core/views.py
Due: test-server

Always call --check on mypy
  server/lint.py
Due: test-server

Add get endpoint to get all messages for one delegate
  server/core/tests/test_messaging_to_delegate.py
  server/core/views.py
  server/dekufserver/urls.py
Due: test-server

Add endpoint for delegates to send response to
  server/core/migrations/0006_alter_surveysignup_group.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/views.py
  server/dekufserver/urls.py
Due: test-server

Test linting
  server/core/migrations/0006_alter_surveysignup_group.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/dekufserver/urls.py
Due: test-server

Add test for cleanup logic
  server/core/tests/test_federated_aggregation_endpoints.py
Due: test-server

Remove automatic data point creation
  client/src/daemon/client.cpp
Due: test-client

Improve logging
  client/src/daemon/client.cpp
Due: test-client

Sign up for surveys instead of sending responses
  client/src/core/sqlite_storage.cpp
  client/src/core/sqlite_storage.hpp
  client/src/core/storage.hpp
  client/src/core/survey.cpp
  client/src/daemon/client.cpp
  client/src/daemon/client.hpp
  client/tests/core/sqlite_storage_test.cpp
  client/tests/core/sqlite_storage_test.hpp
  client/tests/daemon/client_test.cpp
  client/tests/stubs/core/storage_stub.hpp
Due: test-client

Add Aggregation group to admin panel
  server/core/admin.py
  server/core/models/aggregation_group.py
Due: test-server

Add Group_Size to the state response
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/views.py
Due: test-server

Set initial state
  client/src/core/storage.hpp
  client/src/daemon/client.cpp
Due: test-client

Fix: Aggregation groups and signups can't be deleted in the admin UI
  server/core/migrations/0007_alter_aggregationgroup_delegate_and_more.py
  server/core/models/aggregation_group.py
  server/core/models/survey_signup.py
Due: test-server

Check and store survey state
  client/src/core/sqlite_storage.cpp
  client/src/core/sqlite_storage.hpp
  client/src/core/storage.hpp
  client/src/daemon/client.cpp
  client/src/daemon/client.hpp
  client/tests/core/sqlite_storage_test.cpp
  client/tests/core/sqlite_storage_test.hpp
  client/tests/stubs/core/storage_stub.hpp
Due: test-client

Schedule next run only after all processing has finished
  client/src/daemon/client.cpp
  client/src/daemon/client.hpp
Due: test-client

Remove debug output
  client/tests/core/sqlite_storage_test.cpp
Due: test-client

Save delegate ID
  client/src/core/sqlite_storage.cpp
  client/tests/core/sqlite_storage_test.cpp
Due: test-client

Process messages for delegate
  client/.clang-tidy
  client/src/core/sqlite_storage.cpp
  client/src/core/sqlite_storage.hpp
  client/src/core/storage.hpp
  client/src/daemon/client.cpp
  client/src/daemon/client.hpp
  client/tests/core/sqlite_storage_test.cpp
  client/tests/core/sqlite_storage_test.hpp
  client/tests/stubs/core/storage_stub.hpp
Due: test-client

Save group size as part survey
  server/core/migrations/0007_alter_aggregationgroup_delegate_and_more.py
  server/core/models/grouping_logic.py
  server/core/models/survey.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/tests/test_grouping_logic.py
  server/core/views.py
Due: test-server

Deal with delegate nullable now for admin interface
  server/core/tests/test_messaging_to_delegate.py
  server/core/views.py
Due: test-server

Store group size
  client/src/core/sqlite_storage.cpp
  client/src/core/storage.hpp
  client/src/daemon/client.cpp
  client/tests/core/sqlite_storage_test.cpp
Due: test-client

Add TODO
  client/src/daemon/client.cpp
Due: test-client

Update to python 3.10 to enable union types
  server/pyproject.toml
Due: test-server

Path conditions:
  test-client: any of: .gitlab-ci.yml, client/**/*
  test-server: any of: .gitlab-ci.yml, server/**/*
