Repository prototypefund/DeKUF: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-client, test-server

test-client:
  stage: test
  image: gcc
  before_script:
  - 'apt-get update -yqq && apt-get install -yqq gpgme cmake clang qt6-base-dev clang-tidy clang-format
  
    '
  - update-alternatives --set c++ /usr/bin/clang++
  - cd client
  script:
  - make
  - make lint
  - make test

test-server:
  stage: test
  image: python:3.10
  before_script:
  - pip install --upgrade pip
  - export POETRY_HOME=/opt/poetry
  - python3 -m venv $POETRY_HOME
  - $POETRY_HOME/bin/pip install poetry==1.8.2
  - export PATH=$POETRY_HOME/bin:$PATH
  - poetry --version
  - cd server
  - poetry install
  ...

Fix: User prompted for password for decryption
  client/src/daemon/gpgme_encryption.cpp
Due: test-client

Improve string handling
  client/src/daemon/gpgme_encryption.cpp
Due: test-client

Logging: Don't log aggregationPublicKey
  client/src/daemon/daemon.cpp
Due: test-client

Logging: Waiting for messages
  client/src/daemon/daemon.cpp
Due: test-client

Enable end to end encryption in the demo
  docker-compose.yaml
Due: none

Logging: Waiting for messages again
  client/src/daemon/daemon.cpp
Due: test-client

Improve debug logging
  client/src/core/sqlite_storage.cpp
  client/src/daemon/daemon.cpp
Due: test-client

Log a message if end to end encryption is enabled
  client/src/daemon/main.cpp
Due: test-client

Show data points in UI
  client/src/core/sqlite_storage.hpp
  client/src/ui/main_window.cpp
  client/src/ui/main_window.ui
Due: test-client

Add GPLv3
  COPYING
  README.md
Due: none

Rename project from DeKUF to Privact
  README.md
  client/CMakeLists.txt
  client/Makefile
  client/README.md
  client/example_supplier/README.md
  client/src/core/CMakeLists.txt
  client/src/core/sqlite_storage.cpp
  client/src/daemon/CMakeLists.txt
  client/src/daemon/gpgme_encryption.cpp
  client/src/daemon/main.cpp
  client/src/daemon/server_network.cpp
  client/src/ui/CMakeLists.txt
  client/tests/core/CMakeLists.txt
  client/tests/daemon/CMakeLists.txt
  docker-compose.yaml
  server/Dockerfile
  server/README.md
  server/manage.py
  server/mypy.ini
  server/privactserver/__init__.py
  server/privactserver/asgi.py
  server/privactserver/settings.py
  server/privactserver/urls.py
  server/privactserver/wsgi.py
Due: test-client, test-server

#54 Fix number_participants
  client/src/core/encrypted_survey_response.cpp
  client/src/core/encrypted_survey_response.hpp
  client/src/core/survey_response.cpp
  client/src/core/survey_response.hpp
  client/src/daemon/daemon.cpp
  client/tests/daemon/encrypted_survey_response_test.cpp
  server/core/admin.py
  server/core/json_serializers.py
  server/core/migrations/0014_remove_query_number_participants_and_more.py
  server/core/models/response.py
  server/core/models/survey.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/tests/test_query_response_aggregation.py
  server/core/tests/test_serialization.py
  server/core/views.py
Due: test-client, test-server

#54 Improve TODO and remove empty lines
  client/src/daemon/daemon.cpp
Due: test-client

#54 Fix bug with unused number_part
  client/src/core/encrypted_survey_response.cpp
Due: test-client

Path conditions:
  test-client: any of: .gitlab-ci.yml, client/**/*
  test-server: any of: .gitlab-ci.yml, server/**/*
