Repository prototypefund/DeKUF: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-client, test-server

test-client:
  stage: test
  image: gcc
  before_script:
  - 'apt-get update -yqq && apt-get install -yqq cmake clang qt6-base-dev clang-tidy clang-format
  
    '
  - update-alternatives --set c++ /usr/bin/clang++
  - cd client
  script:
  - make
  - make lint
  - make test

test-server:
  stage: test
  image: python:3.10
  before_script:
  - pip install --upgrade pip
  - cd server
  - pip install -r requirements.txt
  script: ./lint.py ./manage.py migrate ./manage.py test

Reduce irrelevant clang-tidy output
  client/Makefile
Due: test-client

Treat clang-tidy warnings as errors
  client/.clang-tidy
Due: test-client

Add modernize-* checks to clang-tidy
  client/.clang-tidy
  client/src/survey_response.cpp
  client/tests/survey_test.cpp
Due: test-client

Add cppcoreguidelines-* checks to clang-tidy
  client/.clang-tidy
  client/src/client.cpp
  client/src/main.cpp
Due: test-client

Add test for invalid commissioner
  client/tests/survey_response_test.cpp
  client/tests/survey_response_test.hpp
Due: test-client

Remove obsolete forward declaration
  client/src/client.hpp
Due: test-client

Make member functions const where possible
  client/src/sqlite_storage.cpp
  client/src/sqlite_storage.hpp
  client/src/storage.hpp
  client/tests/stubs/storage_stub.hpp
Due: test-client

Make const what can be const
  client/src/client.cpp
  client/src/sqlite_storage.cpp
  client/src/survey.cpp
  client/src/survey_response.cpp
  client/src/survey_response.hpp
  client/tests/sqlite_storage_test.cpp
  client/tests/stubs/storage_stub.hpp
  client/tests/survey_response_test.cpp
  client/tests/survey_test.cpp
Due: test-client

Move the daemon code to a dedicated directory
  client/src/CMakeLists.txt
  client/src/daemon/CMakeLists.txt
  client/src/daemon/client.cpp
  client/src/daemon/client.hpp
  client/src/daemon/commissioner.hpp
  client/src/daemon/main.cpp
  client/src/daemon/sqlite_storage.cpp
  client/src/daemon/sqlite_storage.hpp
  client/src/daemon/storage.hpp
  client/src/daemon/survey.cpp
  client/src/daemon/survey.hpp
  client/src/daemon/survey_response.cpp
  client/src/daemon/survey_response.hpp
  client/tests/CMakeLists.txt
  client/tests/daemon/CMakeLists.txt
  client/tests/daemon/sqlite_storage_test.cpp
  client/tests/daemon/sqlite_storage_test.hpp
  client/tests/daemon/stubs/storage_stub.hpp
  client/tests/daemon/survey_response_test.cpp
  client/tests/daemon/survey_response_test.hpp
  client/tests/daemon/survey_test.cpp
  client/tests/daemon/survey_test.hpp
Due: test-client

Make it easier to run the daemon and UI
  client/Makefile
  client/README.md
Due: test-client

Show survey responses in the UI in a crude fashion
  client/src/ui/CMakeLists.txt
  client/src/ui/main_window.cpp
  client/src/ui/main_window.ui
Due: test-client

Extract code shared between daemon and ui to a new core library
  client/src/CMakeLists.txt
  client/src/core/CMakeLists.txt
  client/src/core/commissioner.hpp
  client/src/core/sqlite_storage.cpp
  client/src/core/sqlite_storage.hpp
  client/src/core/storage.hpp
  client/src/core/survey.cpp
  client/src/core/survey.hpp
  client/src/core/survey_response.cpp
  client/src/core/survey_response.hpp
  client/src/daemon/CMakeLists.txt
  client/src/daemon/client.cpp
  client/src/daemon/client.hpp
  client/src/ui/CMakeLists.txt
  client/src/ui/main_window.cpp
  client/tests/CMakeLists.txt
  client/tests/core/CMakeLists.txt
  client/tests/core/sqlite_storage_test.cpp
  client/tests/core/sqlite_storage_test.hpp
  client/tests/core/stubs/storage_stub.hpp
  client/tests/core/survey_response_test.cpp
  client/tests/core/survey_response_test.hpp
  client/tests/core/survey_test.cpp
  client/tests/core/survey_test.hpp
Due: test-client

Make lint target fail on formatting errors
  client/Makefile
Due: test-client

Use QSharedPointer::create instead of new
  client/src/core/survey.cpp
Due: test-client

Fix and reenable survey response serializer test
  server/core/tests.py
Due: test-server

Simplify SurveyResponse construction
  client/tests/core/sqlite_storage_test.cpp
Due: test-client

Move SurveyResponse creation to Client and add ClientTest
  client/src/core/CMakeLists.txt
  client/src/core/survey_response.cpp
  client/src/core/survey_response.hpp
  client/src/daemon/CMakeLists.txt
  client/src/daemon/client.cpp
  client/src/daemon/client.hpp
  client/src/daemon/main.cpp
  client/tests/CMakeLists.txt
  client/tests/core/survey_response_test.cpp
  client/tests/core/survey_response_test.hpp
  client/tests/daemon/CMakeLists.txt
  client/tests/daemon/client_test.cpp
  client/tests/daemon/client_test.hpp
  client/tests/stubs/core/storage_stub.hpp
Due: test-client

Move Survey to daemon
  client/src/daemon/client.hpp
  client/src/daemon/survey.cpp
  client/src/daemon/survey.hpp
  client/tests/daemon/survey_test.cpp
  client/tests/daemon/survey_test.hpp
Due: test-client

Rename lint-fix target to format
  client/Makefile
  client/README.md
Due: test-client

Change to Poetry package manager
  server/.gitignore
  server/README.md
  server/pyproject.toml
  server/requirements.txt
Due: test-server

Fix poetrys gitlab CI
  .gitlab-ci.yml
Due: test-client, test-server

Use proper poetry executionable
  .gitlab-ci.yml
Due: test-client, test-server

Use poetry run instead of shell
  .gitlab-ci.yml
Due: test-client, test-server

Add poetry to ci path
  .gitlab-ci.yml
Due: test-client, test-server

Add mypy
  server/pyproject.toml
Due: test-server

Add mypy dependency stubs and fix typing issues
  server/dekufserver/__init__.py
  server/dekufserver/asgi.py
  server/dekufserver/settings.py
  server/dekufserver/urls.py
  server/dekufserver/wsgi.py
  server/lint.py
  server/manage.py
  server/mypy.ini
  server/pyproject.toml
Due: test-server

Add flake8 for linting and code analysis
  server/core/tests.py
  server/core/views.py
  server/dekufserver/settings.py
  server/lint.py
  server/pyproject.toml
Due: test-server

Store num-data-points instead of timestamp by default
  client/src/core/sqlite_storage.cpp
  client/src/core/storage.hpp
  client/src/daemon/client.cpp
  client/tests/core/sqlite_storage_test.cpp
  client/tests/core/sqlite_storage_test.hpp
Due: test-client

Add cohorts to Query
  server/core/json_serializers.py
  server/core/migrations/0004_query_cohorts.py
  server/core/models.py
Due: test-server

Add id to query
  server/core/json_serializers.py
Due: test-server

Change model
  server/core/admin.py
  server/core/json_serializers.py
  server/core/migrations/0001_initial.py
  server/core/migrations/0002_commissioner_query_queryresponse_survey_and_more.py
  server/core/migrations/0003_survey_name.py
  server/core/migrations/0004_query_cohorts.py
  server/core/models.py
  server/core/tests.py
Due: test-server

Rename CommissionerTestCase
  server/core/tests.py
Due: test-server

Add query relation to queryResponse
  server/core/json_serializers.py
  server/core/migrations/0001_initial.py
  server/core/models.py
  server/core/tests.py
Due: test-server

Move tests to own package
  server/core/tests/__init__.py
  server/core/tests/serialization_tests.py
Due: test-server

Move models to own file
  server/core/admin.py
  server/core/json_serializers.py
  server/core/migrations/0002_query_aggregated_results_alter_queryresponse_data.py
  server/core/models.py
  server/core/models/__init__.py
  server/core/models/commissioner.py
  server/core/models/response.py
  server/core/models/survey.py
  server/core/tests/test_query_response_aggregation.py
  server/core/tests/test_serialization.py
  server/core/views.py
Due: test-server

Fix styling and add tests
  server/core/admin.py
  server/core/json_serializers.py
  server/core/migrations/0001_initial.py
  server/core/migrations/0002_query_aggregated_results_alter_queryresponse_data.py
  server/core/models/response.py
  server/core/models/survey.py
  server/core/tests/test_query_response_aggregation.py
  server/core/tests/test_serialization.py
Due: test-server

Small lint fix
  server/core/migrations/0001_initial.py
  server/core/tests/test_query_response_aggregation.py
Due: test-server

Remove unused deps
  server/core/models/response.py
  server/core/models/survey.py
Due: test-server

Add number participants and fix test
  server/core/admin.py
  server/core/migrations/0001_initial.py
  server/core/migrations/0002_alter_query_number_participants.py
  server/core/models/survey.py
  server/core/tests/test_query_response_aggregation.py
  server/core/views.py
Due: test-server

Aggregate QueryResponses
  server/core/json_serializers.py
  server/core/views.py
Due: test-server

Path conditions:
  test-client: any of: .gitlab-ci.yml, client/**/*
  test-server: any of: .gitlab-ci.yml, server/**/*
