Repository prototypefund/DeKUF: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-client, test-server

test-client:
  stage: test
  image: gcc
  before_script:
  - 'apt-get update -yqq && apt-get install -yqq gpgme cmake clang qt6-base-dev clang-tidy clang-format
  
    '
  - update-alternatives --set c++ /usr/bin/clang++
  - cd client
  script:
  - make
  - make lint
  - make test

test-server:
  stage: test
  image: python:3.10
  before_script:
  - pip install --upgrade pip
  - export POETRY_HOME=/opt/poetry
  - python3 -m venv $POETRY_HOME
  - $POETRY_HOME/bin/pip install poetry==1.8.2
  - export PATH=$POETRY_HOME/bin:$PATH
  - poetry --version
  - cd server
  - poetry install
  ...

Eliminate unused async get/post request methods
  client/src/daemon/server_network.cpp
  client/src/daemon/server_network.hpp
Due: test-client

Add paillier encryption
  client/src/core/sqlite_storage.cpp
  client/src/core/storage.hpp
Due: test-client

Squashed commit of the following:
  client/CMakeLists.txt
  client/README.md
  client/cmake/FindGMP.cmake
  client/src/core/CMakeLists.txt
  client/src/core/sqlite_storage.cpp
  client/src/core/sqlite_storage.hpp
  client/src/core/storage.hpp
  client/src/core/survey_record.hpp
  client/src/daemon/CMakeLists.txt
  client/src/daemon/daemon.cpp
  client/src/daemon/paillier_encryptor.cpp
  client/src/daemon/paillier_encryptor.hpp
  client/tests/core/sqlite_storage_test.cpp
  client/tests/daemon/daemon_test.cpp
  client/tests/daemon/paillier_encryptor_test.cpp
  client/tests/daemon/paillier_encryptor_test.hpp
  client/tests/stubs/core/storage_stub.hpp
  server/core/migrations/0011_aggregationgroup_aggregation_private_key_p_and_more.py
  server/core/models/aggregation_group.py
  server/core/models/survey.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/tests/test_grouping_logic.py
  server/core/tests/test_messaging_to_delegate.py
  server/core/tests/test_query_response_aggregation.py
  server/core/views.py
  server/mypy.ini
  server/pyproject.toml
Due: test-client, test-server

Add test instructions
  README.md
Due: none

#51 Add first data schema version on the server
  server/core/admin.py
  server/core/fixtures/data_points.json
  server/core/json_serializers.py
  server/core/migrations/0012_datapoint_remove_query_data_key_query_data_point.py
  server/core/migrations/0013_load_fixture_data_points_data.py
  server/core/models/data_point.py
  server/core/models/survey.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/tests/test_query_response_aggregation.py
  server/core/tests/test_serialization.py
Due: test-server

#46 Add paillier to client
  client/src/core/CMakeLists.txt
  client/src/core/encrypted_survey_response.cpp
  client/src/core/encrypted_survey_response.hpp
  client/src/core/survey_response.cpp
  client/src/core/survey_response.hpp
  client/src/daemon/daemon.cpp
  client/src/daemon/daemon.hpp
  client/src/daemon/homomorphic_encryptor.hpp
  client/src/daemon/paillier_encryptor.cpp
  client/src/daemon/paillier_encryptor.hpp
  client/src/ui/CMakeLists.txt
  client/tests/daemon/daemon_test.cpp
  client/tests/daemon/encrypted_survey_response_test.cpp
  client/tests/daemon/encrypted_survey_response_test.hpp
  client/tests/daemon/paillier_encryptor_test.cpp
  client/tests/daemon/paillier_encryptor_test.hpp
  client/tests/stubs/daemon/homomorphic_encryptor_stub.hpp
Due: test-client

#51 Validate Intervals based on min/max values of datapoint
  server/core/models/check_intervals.py
  server/core/models/survey.py
  server/core/tests/test_check_intervals.py
Due: test-server

#51 Change fixture naming
  server/core/fixtures/data_points.json
Due: test-server

Add Docker Compose setup for the server
  docker-compose.yaml
  server/Dockerfile
Due: test-server

Add poetry.lock to the repository
  server/.gitignore
  server/poetry.lock
Due: test-server

Rename server services
  docker-compose.yaml
Due: none

Add a basic server initialisation script
  demo
Due: none

Add a basic container/service for a single client
  client/Dockerfile
  demo
  docker-compose.yaml
Due: test-client

Fix indentation
  docker-compose.yaml
Due: none

Make D-Bus work in the demo setup
  client/Dockerfile
  demo
  docker-compose.yaml
Due: test-client

Fix: Data points are not sent in the demo
  client/example_supplier/submit_data_point.py
  client/src/daemon/dbus_service.cpp
  demo
Due: test-client

Read server URL from environment variable
  client/src/daemon/server_network.cpp
  client/src/daemon/server_network.hpp
Due: test-client

Connect client and server service
  docker-compose.yaml
  server/dekufserver/settings.py
Due: test-server

Move admin account creation to Dockerfile
  demo
  server/Dockerfile
Due: test-server

Update demo instructions and script
  README.md
  demo
Due: none

Spawn a sufficient amount of clients in the demo
  demo
  docker-compose.yaml
Due: none

Automate demo server initialisation
  README.md
  demo
Due: none

Recreate server database during image build
  docker-compose.yaml
  server/Dockerfile
Due: test-server

Fix typo
  client/src/daemon/daemon.cpp
Due: test-client

Improve concurrency with threads on a survey basis
  server/core/models/grouping_logic.py
  server/core/tests/test_federated_aggregation_endpoints.py
  server/core/views.py
Due: test-server

Document how to reset the demo
  README.md
Due: none

Prevent crash when group size and amount of messages don't match
  client/src/daemon/daemon.cpp
Due: test-client

Fix: Error when posting aggregated response
  server/core/views.py
Due: test-server

Change demo to work with only a single group
  demo
Due: none

Fix formatting
  server/core/views.py
Due: test-server

Fix: Encrypted values aren't actually sent
  client/src/core/survey_response.cpp
Due: test-client

Fix Paillier aggregation on delegate and server
  client/src/core/encrypted_survey_response.cpp
  server/core/models/survey.py
Due: test-client, test-server

#54 Dont show number participants until correctly implemented
  server/core/admin.py
Due: test-server

Fix typo
  client/src/daemon/gpgme_encryption.cpp
Due: test-client

Update TODO comments
  client/src/daemon/gpgme_encryption.cpp
Due: test-client

Implement GPG encryption (but not decryption)
  client/src/daemon/gpgme_encryption.cpp
  client/tests/daemon/gpgme_encryption_test.cpp
  client/tests/daemon/gpgme_encryption_test.hpp
Due: test-client

Delete imported keys properly
  client/src/daemon/gpgme_encryption.cpp
Due: test-client

Add TODO
  client/tests/daemon/gpgme_encryption_test.cpp
Due: test-client

Implement GPG decryption
  client/src/daemon/gpgme_encryption.cpp
  client/tests/daemon/gpgme_encryption_test.cpp
  client/tests/daemon/gpgme_encryption_test.hpp
Due: test-client

Add an environment variable to enable end to end encryption
  client/README.md
  client/src/daemon/main.cpp
Due: test-client

Path conditions:
  test-client: any of: .gitlab-ci.yml, client/**/*
  test-server: any of: .gitlab-ci.yml, server/**/*
